.itemInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5%;
}

.menuItemNew {
    border: 1px lightgray solid;
    padding-left: 4%;
    margin-bottom: 5px;
}